body * {
    font-family: monospace;
}

h1, h2, h3 {
    text-align: center;
}

div#sitio {
    margin: auto;
}

@media all and (min-width:640px) {
    div#sitio {
        width: 640px !important;
    }
}
